:root {
    --nav-bg: #221D1C;
}

* {
    box-sizing: border-box; 
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0; 
 }

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    padding: 20px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    padding: 5px;
    border-bottom: white 2px solid;
}

nav h1 {
    font-size: 3rem;
    background-color: lightblue;
    padding: 10px 12px 10px 12px;
    color: var(--nav-bg);
    margin-left: -20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav p {
    background-color: gray;
    color: white;
}

aside {
    font-size: 3em;
    color: lightblue;
}

aside h2 {
    margin-right: 10px;
}

aside:nth-of-type(1) {
    margin-top: 30px;
}

footer {
    text-align: center;
}

/* setting the titles to the side of their respective asides */
#about,
#work,
#contact {
    width: 25%;
    border-right:  lightblue 5px solid;
    /*min-height: 33vh;*/
    text-align: right;
}

.photo {
    max-height: 550px;
    min-height: 400px;
    width: 100vw;
    
}

.disc {
    display: inline;
    float: left;
    margin-left: 25%;
    top: -77px;
    left: 20px;
    position: relative;
}

.port {
    display: inline-flex;
    float: left;
    margin-left: 30%;
    flex-direction: column;
}

.sites{
    background-color: black;
    display: flex;
    border: 5px solid lightblue;
}

.sites p {
    color: white;
}