* {
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    background-color: lightblue;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav p {
    color: white;
}

aside:nth-of-type(1) {
    margin-top: 30px;
}

/* setting the titles to the side of their respective asides */
#about,
#work,
#contact {
    width: 25%;
    border-right:  lightblue 5px solid;
    min-height: 33vh;
    text-align: right;
}

.port {
    display: flex;
    /*flex-direction: column;*/
}

.sites{
    background-color: black;
}

.sites p {
    color: white;
}